@font-face{
    font-family: 'cursedTimer';
    src: url(./fonts/CursedTimerUlil-Aznm.ttf);
}

body{
    margin: 0;
}

.square{
    width: 120px;
    height: auto;
    position: relative;
    display: block;
    text-align: center;
}

h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.score{
    background-color: #181A1C;
    position: relative;
    height: 70px;
    margin-bottom: -20px;
    padding: 5px;
    margin-top: 50px;
}

h1{
    font-family: 'cursedTimer', sans-serif;
}

.numbers{
    position: relative;
    justify-items: center;
    font-size: 40px;
    top: -58px;
    color: #F94F6D;
    text-shadow: 0 0 15px #f46b848e;
    text-shadow: 0 0 9px #efe5e7d1;
    margin-top: 65px;
}

.button{
    background-color: #9FA2A5;
    color: #181A1C;
    font-size: medium;
    font-weight: normal;
    font-family: 'cursedTimer', sans-serif;
    border: #181A1C;
    border-style: solid;
    padding: 4px;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: #181A1C;
    color: #9FA2A5;
    font-weight: bold;
}

/* Timer css */
.timer-box{
    text-align: center;
    margin-top: 60px;
}

.timer{
    background-color: #181A1C;
    text-align: center;
    height: 50px;
    width: auto;
    font-family: 'cursedTimer', sans-serif;
    font-size: 25px;
    color: #F94F6D;
    text-shadow: 0 0 15px #f46b848e;
    text-shadow: 0 0 9px #efe5e7d1;
    margin-bottom: 20px;
}

/* Periods css */

.period-container{
    text-align: center;
    margin-top: 15px;
    justify-content: center;
}

.periods{
    align-items: center;
    background-color: #181A1C;
    width: auto;
    height: 50px;
    font-family: 'cursedTimer', sans-serif;
    font-size: 35px;
    color: #F94F6D;
    text-shadow: 0 0 15px #f46b848e;
    text-shadow: 0 0 9px #efe5e7d1;
    margin-bottom: 30px;
}

/* Nav Bar */
.navbar-dark {
    background-color: #303337;
    opacity: 0.9;
}

/* Background image 1st */
.hero {
    position: relative;
    height: 50vh;
    background-color: #303337;
    overflow: hidden;
}

.hero__img {
    position: absolute;
    background-position: center;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
}

/* Footer page */
.container__footer {
    background-color: #303337;
    height: 250px;
}