/* Nav Bar */
.navbar-dark{
    background-color: #303337;
    opacity: 0.9;
}

/* Background image 1st */
.hero{
    position: relative;
    height: 50vh;
    background-color: #303337;
    overflow: hidden;
}

.hero__img{
position: absolute;
background-position:center;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
transform: translateX(-50%) translateY(-50%);
z-index: 0;
}

/* Footer page */
.container__footer{
    background-color: #303337;
    height: 250px;
}


